body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  padding: 0;
  background: #e2e1e0;
}
.form-wrapper{
  background-color: white;
  width: 90%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin: 50px auto 0;
  padding: 15px;
}
